body {
    background-color: red;
}

#intro{
    text-align: center;
    margin: auto;
    position: relative;
    height: 200px;
}

h1 {
    font-size: xxx-large;
}

#out {
    height: 60px;
    padding-top: 5px;
    border-bottom: 5px solid;
    font-size: xx-large;
}


.border {
    padding-top: 20px;
    
}

#grid {
    text-align: center;
    margin: auto;
    position: relative;
    width: 600px;
    height: 850px;
    border: 4px solid;
}

#vline {
    position: absolute;
    width: 20px;
    height: 510px;
    background-color: black;
    border-radius: 50px;
}

#hline {
    position: absolute;
    width: 20px;
    height: 550px;
    background-color: black;
    border-radius: 50px;
    rotate: 90deg;
}

.left {
    top: 65%;
    left: 32%;
    transform: translate(-50%,-50%);
}

.right {
    
    top: 65%;
    left: 66%;
    transform: translate(-50%,-50%);
}

.top {
    top: 22%;
    left: 2%;
    transform: translate(-50%,-50%);    
}

.bottom {
    top: 43%;
    left: 2%;
    transform: translate(-50%,-50%);
}


.cell {
    border: 0;
    background-color: orange;
    width: 180px;
    height: 160px;
    font-size: xxx-large;
}

.c1 {
    position: absolute;
    top: 33%;
    left: 0.5%;
}


.c2 {
    position: absolute;
    top: 33%;
    left: 34%;
}

.c3 {
    position: absolute;
    top: 33%;
    left: 67%;
}

.c4 {
    position: absolute;
    top: 54%;
    left: 0.5%;
}

.c5 {
    position: absolute;
    top: 54%;
    left: 34%;
}

.c6 {
    position: absolute;
    top: 54%;
    left: 67%;
}

.c7 {
    position: absolute;
    top: 75%;
    left: 0.5%;
}

.c8 {
    position: absolute;
    top: 75%;
    left: 34%;
}

.c9 {
    position: absolute;
    top: 75%;
    left: 67%;
}


}
